Repository coup-deom/be, pull requests merged in 2025-05, with the labels that each got.

#54 [Test] - Otp 서비스 레이어 관련 테스트
  src/main/java/kr/kro/deom/common/config/SchedulingConfig.java
  src/main/java/kr/kro/deom/common/exception/code/CommonErrorCode.java
  src/main/java/kr/kro/deom/domain/otp/dto/OtpRedisDto.java
  src/main/java/kr/kro/deom/domain/otp/dto/request/OtpStampRequest.java
  src/main/java/kr/kro/deom/domain/otp/entity/OtpUsage.java
  src/main/java/kr/kro/deom/domain/otp/repository/OtpRepository.java
  src/main/java/kr/kro/deom/domain/otp/service/OtpCustomerService.java
  src/main/java/kr/kro/deom/domain/otp/service/OtpExpirationService.java
  src/main/java/kr/kro/deom/domain/otp/service/OtpOwnerServiceImpl.java
  src/main/java/kr/kro/deom/domain/otp/service/OtpOwnerStampService.java
  src/test/java/kr/kro/deom/domain/otp/service/OtpCustomerServiceTest.java
  src/test/java/kr/kro/deom/domain/otp/service/OtpExpirationServiceTest.java
  src/test/java/kr/kro/deom/domain/otp/service/OtpOwnerDeomServiceTest.java
  src/test/java/kr/kro/deom/domain/otp/service/OtpOwnerServiceImplTest.java
  src/test/java/kr/kro/deom/domain/otp/service/OtpOwnerServiceTest.java
  src/test/java/kr/kro/deom/domain/otp/service/OtpOwnerStampServiceTest.java
  src/test/java/kr/kro/deom/domain/otp/service/OtpOwnerVerifyServiceTest.java
  src/test/java/kr/kro/deom/domain/otp/service/OtpRedisServiceImplTest.java
Labels: ✨ Feature, ✅ Test

#55 [Feat] 거래소
  src/main/java/kr/kro/deom/common/exception/code/CommonErrorCode.java
  src/main/java/kr/kro/deom/common/security/handler/OAuth2SuccessHandler.java
  src/main/java/kr/kro/deom/domain/exchange/controller/StampExchangeController.java
  src/main/java/kr/kro/deom/domain/exchange/dto/StampExchangeRequest.java
  src/main/java/kr/kro/deom/domain/exchange/dto/StampExchangeResponse.java
  src/main/java/kr/kro/deom/domain/exchange/dto/StampExchangeUpdateRequest.java
  src/main/java/kr/kro/deom/domain/exchange/entity/StampExchange.java
  src/main/java/kr/kro/deom/domain/exchange/exception/StampExchangeException.java
  src/main/java/kr/kro/deom/domain/exchange/repository/StampExchangeRepository.java
  src/main/java/kr/kro/deom/domain/exchange/service/StampExchangeJoinProjection.java
  src/main/java/kr/kro/deom/domain/exchange/service/StampExchangeService.java
  src/main/java/kr/kro/deom/domain/myStamp/entity/MyStamp.java
  src/main/java/kr/kro/deom/domain/myStamp/repository/MyStampRepository.java
  src/main/java/kr/kro/deom/domain/myStamp/service/MyStampService.java
  src/main/java/kr/kro/deom/domain/store/controller/StoreController.java
  src/main/java/kr/kro/deom/domain/store/dto/response/StoreSelectResponse.java
  src/main/java/kr/kro/deom/domain/store/repository/StoreRepository.java
  src/main/java/kr/kro/deom/domain/store/service/StoreService.java
  src/main/java/kr/kro/deom/domain/user/controller/UserController.java
  src/main/resources/application-dev.yml
Labels: ✨ Feature

#68 [Feat] - 누적 스탬프로 단골 순위 생성, 조회
  build.gradle
  src/main/java/kr/kro/deom/common/config/RedisConfig.java
  src/main/java/kr/kro/deom/domain/analysis/controller/CustomerAnalysisController.java
  src/main/java/kr/kro/deom/domain/analysis/dto/UserStampRankDto.java
  src/main/java/kr/kro/deom/domain/analysis/service/CustomerAnalysisService.java
  src/main/java/kr/kro/deom/domain/myStamp/dto/UserAccumulatedStampsDto.java
  src/main/java/kr/kro/deom/domain/myStamp/entity/MyStamp.java
  src/main/java/kr/kro/deom/domain/myStamp/repository/MyStampRepository.java
  src/main/java/kr/kro/deom/domain/myStamp/service/MyStampService.java
  src/main/resources/application-dev.yml
  src/test/java/kr/kro/deom/domain/analysis/service/CustomerAnalysisServiceTest.java
Labels: ⚙️ Setting, ✨ Feature, ✅ Test
